* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  outline-color: inherit;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-cyan-light: hsl(180, 77%, 54%);
  --primary-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);

  --gray: hsl(0, 0%, 81%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Dark-Blue: hsl(255, 11%, 22%);
  --Dark-Violet: hsl(260, 8%, 14%);
}

body {
  overflow-x: hidden;
  max-width: 1500px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  background-color: var(--primary-cyan);
  color: white;
  border: none;
  transition: background-color .3s cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover {background-color: var(--primary-cyan-light);}

.hr {
  width: 100%;
  height: 0.5px;
  background: linear-gradient(90deg, transparent, var(--Grayish-Violet), transparent);
}

/* Header */
header {
  width: 100%;
  height: calc(100vh + 70px);
}

header nav {
  width: 100%;
  padding: 40px 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav #bugger {
  display: flex;
  flex-flow: column nowrap;
  width: 25px;
}

header nav #bugger .line {
  margin: 3px;
  width: 100%;
  height: 3px;
  background-color: var(--Grayish-Violet);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(187, 187, 187, 0.378);
  backdrop-filter: blur(2px);
  display: none;
}


.menu-mobile {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0px;
  padding: 40px 15px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--primary-violet);
  transition: transform .3s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: top;
  transform: scaleY(0);
  box-shadow: 0px 0px 25px 10px rgba(36, 36, 36, 0.255);
  overflow: hidden;
}

.menu-mobile .close {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 20px;
  height: 20px;
  background: url(./images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-mobile a li {
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 30px;
}

.menu-mobile aside {
  /* border-top: 0.1px solid var(--Grayish-Violet); */
}

.menu-mobile aside a {
  display: block;
  color: white;
  padding: 10px 0px;
  margin: 20px 0px;
  font-weight: 500;
}

.menu-mobile aside button {
  width: 95%;
  padding: 10px 0px;
  font-weight: 500;
  border-radius: 50px;
  margin: 5px 0px 10px;
}

header nav .menu-desktop {
  display: none;
}

/* Hero Page */

header section {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header section .hero-img {
  width: 100%;
  height: 350px;
  margin-left: 15px;
  background-image: url('./images/illustration-working.svg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

header section article {
  text-align: center;
  padding: 20px 20px 0px;
}

header section article h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 45px;
  margin: 10px 0px;
  color: var(--Dark-Blue);
}

header section article p {
  color: var(--Grayish-Violet);
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

header section article button {
  padding: 15px 40px;
  border-radius: 50px;
  font-weight: 500;
  margin-top: 20px;
}

/* Main */
main {
  width: 100%;
  height: auto;
  background: #f0f1f6;
  padding: 0px 25px 0px;
}

main section#app {
  position: relative;
  width: 100%;
  padding-top: 140px;
}

main section#app form {
  position: absolute;
  top: -70px;
  left: calc((100% - 100%) / 2);
  width: 100%;
  border-radius: 10px;
  margin: 0px auto;
  padding: 20px 20px;
  text-align: center;
  background: var(--primary-violet) url(./images/bg-shorten-mobile.svg);
  background-position: right;
  background-repeat: no-repeat;
  /* background-size: contain; */
  z-index: 3;
}

main section#app form input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: var(--primary-violet);
}

main section#app form input.bad {border: 2px solid var(--secondary-red);}

main section#app form input.bad::placeholder {
  color: var(--secondary-red);
  opacity: .5;
}

main section#app form label {
  display: block;
  text-align: left;
  margin-top: 5px;
  color: var(--secondary-red);
  font-size: 15px;
  font-weight: 100;
  font-style: italic;
  /* display: none;*/
}

main section#app form button {
  display: block;
  width: 100%;
  margin: 15px 0px 5px;
  padding: 10px 0px;
  border-radius: 5px;
}

main section#app ul {
  display: block;
  margin: 0px 0px 20px;
}

main section#app ul .link-card {
  width: 100%;
  background-color: white;
  padding:  10px 15px;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 0px 0px 30px 5px rgba(118, 118, 118, 0.255);
  margin: 0px 0px 20px;
}

main section#app ul .link-card p {
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--gray);  
}

main section#app ul .link-card p span.new {
  font-size: 12px;
  color: white;
  padding: 1px 5px;
  border-radius: 20px;
  margin: 0px 2px;
}

main section#app ul .link-card p span.new {background-color: rgb(62, 228, 53);}

main section#app ul .link-card .hr {width: 110%;}

main section#app ul .link-card span a {
  color: var(--primary-cyan);
}

main section#app ul .link-card span button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px 0px;
  font-size: 15;
  border-radius: 6px;
  margin: 15px 0px 5px;
}

main section#app ul .link-card span button.copied {background-color: var(--primary-violet);}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  padding: 15px 5px;
  color: var(--dark-gray);
}
.attribution a {
  color: hsl(228, 49%, 38%);
  font-size: 12px;
  text-decoration: none;
}