* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  padding: 15px 5px;
  color: var(--dark-gray);
}
.attribution a {
  color: hsl(228, 49%, 38%);
  font-size: 12px;
  text-decoration: none;
}