* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  outline-color: inherit;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-cyan-light: hsl(180, 77%, 54%);
  --primary-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);

  --gray: hsl(0, 0%, 81%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Dark-Blue: hsl(255, 11%, 22%);
  --Dark-Violet: hsl(260, 8%, 14%);
}

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  max-width: 1500px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  background-color: var(--primary-cyan);
  color: white;
  border: none;
  transition: background-color .3s cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover {background-color: var(--primary-cyan-light);}

.hr {
  width: 100%;
  height: 0.5px;
  background: linear-gradient(90deg, transparent, var(--Grayish-Violet), transparent);
}

/* Header */
header {
  width: 100%;
  height: calc(100vh + 70px);
}

header nav {
  width: 100%;
  padding: 40px 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav #bugger {
  display: flex;
  flex-flow: column nowrap;
  width: 25px;
}

header nav #bugger .line {
  margin: 3px;
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: var(--Grayish-Violet);
  transition: background-color .3s cubic-bezier(0.19, 1, 0.22, 1);
}

header nav #bugger:hover .line {background-color: var(--primary-violet);}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(187, 187, 187, 0.378);
  backdrop-filter: blur(3px);
  display: none;
}


.menu-mobile {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0px;
  padding: 40px 15px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--primary-violet);
  transition: transform .3s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: top;
  transform: scaleY(0);
  box-shadow: 0px 0px 25px 10px rgba(36, 36, 36, 0.255);
  overflow: hidden;
}

.menu-mobile .close {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 20px;
  height: 20px;
  background: url(./images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: opacity .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-mobile .close:hover {opacity: 0.5;}

.menu-mobile a li {
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 30px;
}

.menu-mobile aside {
  border-top: 0.1px solid var(--Grayish-Violet);
}

.menu-mobile aside a {
  display: block;
  color: white;
  padding: 10px 0px;
  margin: 20px 0px;
  font-weight: 500;
  transition: opacity .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-mobile aside button {
  width: 95%;
  padding: 10px 0px;
  font-weight: 500;
  border-radius: 50px;
  margin: 5px 0px 10px;
}

header nav .menu-desktop {
  display: none;
}

/* Hero Page */

header section {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header section .hero-img {
  width: 100%;
  height: 350px;
  margin-left: 15px;
  background-image: url('./images/illustration-working.svg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

header section article {
  text-align: center;
  padding: 20px 20px 0px;
}

header section article h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 45px;
  margin: 10px 0px;
  color: var(--Dark-Blue);
}

header section article p {
  color: var(--Grayish-Violet);
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

header section article button {
  padding: 15px 40px;
  border-radius: 50px;
  font-weight: 500;
  margin-top: 20px;
}

/* Main */
main {
  width: 100%;
  height: auto;
  background: #f0f1f6;
  padding: 0px 25px 0px;
}

main section#app {
  position: relative;
  width: 100%;
  padding-top: 140px;
}

main section#app form {
  position: absolute;
  top: -70px;
  left: calc((100% - 100%) / 2);
  width: 100%;
  border-radius: 10px;
  margin: 0px auto;
  padding: 20px 20px;
  text-align: center;
  background: var(--primary-violet) url(./images/bg-shorten-mobile.svg);
  background-position: right;
  background-repeat: no-repeat;
  z-index: 3;
}

main section#app form input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: var(--primary-violet);
}

main section#app form input.bad {border: 2px solid var(--secondary-red);}

main section#app form input.bad::placeholder {
  color: var(--secondary-red);
  opacity: .5;
}

main section#app form label {
  display: block;
  text-align: left;
  margin-top: 5px;
  color: var(--secondary-red);
  font-size: 15px;
  font-weight: 100;
  font-style: italic;
  display: none;
}

main section#app form button {
  display: block;
  width: 100%;
  margin: 15px 0px 5px;
  padding: 10px 0px;
  border-radius: 5px;
}

main section#app ul {
  display: block;
  margin: 0px 0px 20px;
}

main section#app ul .link-card {
  width: 100%;
  background-color: white;
  padding:  10px 15px;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 0px 0px 30px 5px rgba(118, 118, 118, 0.255);
  margin: 0px 0px 20px;
}

main section#app ul .link-card p {
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--gray);  
}

main section#app ul .link-card p span.new {
  font-size: 12px;
  color: white;
  padding: 1px 5px;
  border-radius: 20px;
  margin: 0px 2px;
}

main section#app ul .link-card p span.new {background-color: rgb(62, 228, 53);}

main section#app ul .link-card .hr {width: 110%;}

main section#app ul .link-card span a {
  color: var(--primary-cyan);
}

main section#app ul .link-card span button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px 0px;
  font-size: 15;
  border-radius: 6px;
  margin: 15px 0px 5px;
}

main section#app ul .link-card span button.copied {background-color: var(--primary-violet);}

/* Advanced Statistics */
main section#ad-stat {
  padding: 90px 0px 0px;
  text-align: center;
}

main section#ad-stat article.main {
  width: 100%;
  margin: 0px 0px 50px;
}

main section#ad-stat article.main h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  margin: 10px 0px 20px;
  color: var(--Dark-Blue);
}

main section#ad-stat article.main p {
  color: var(--Grayish-Violet);
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

main section#ad-stat .container {
  width: 100%;
  padding: 35px 0px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 90px;
}

main section#ad-stat .container .stat-card {
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 80px 13px 20px;
  position: relative;
}

main section#ad-stat .container .stat-card:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -80px;
  width: 8px;
  height: 80px;
  background-color: var(--primary-cyan);
}

main section#ad-stat .container .stat-card .img {
  position: absolute;
  left: calc((100% - 80px) / 2);
  top: -40px;
  background-color: var(--primary-violet);
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

main section#ad-stat .container .stat-card img {}

main section#ad-stat .container .stat-card article h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
  margin: 10px 0px 20px;
  color: var(--Dark-Blue);
}

main section#ad-stat .container .stat-card article p {
  color: var(--Grayish-Violet);
  line-height: 25px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
}

section#footer {
  width: 100%;
  height: 300px;
  padding: 0px 30px;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--primary-violet) url(./images/bg-boost-mobile.svg);
  background-position: right;
  background-repeat: no-repeat;
}

section#footer p {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

section#footer button {
  width: 200px;
  margin: 10px auto 0px;
  padding: 15px 0px;
  border-radius: 50px;
  font-weight: 500;
  /* margin-top: 20px; */
}

/* Footer */

footer {
  padding: 30px 0px;
  text-align: center;
  color: white;
  background-color: var(--Dark-Violet);

  display: flex;
  flex-flow: column nowrap;
}

footer .logo {
  margin: 30px 0px;
}

footer article .footer-link {
  margin: 20px 0px;
}

footer article .footer-link h4 {
  font-weight: 500;
  margin: 0px 0px 18px;
}

footer article .footer-link a {
  color: var(--gray);
}

footer article .footer-link a p {
  opacity: 0.6;
  margin: 10px 0px;
  transition: color .3s cubic-bezier(0.19, 1, 0.22, 1);
}

footer article .footer-link a:hover p {
  opacity: 1;
  color: var(--primary-cyan);
}

footer .social {
  width: 100%;
  margin: 13px 0px;
}

footer .social a {
  margin: 10px;
  fill: #FFF;
}

footer .social a:hover {fill: var(--primary-cyan);}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  padding: 15px 5px;
  color: var(--dark-gray);
}
.attribution a {
  color: var(--primary-cyan);
  font-size: 12px;
  text-decoration: none;
}

/* Loader style start here */

#loader {
  display: inline-block;
  border: 2px solid var(--white);
  border-radius: 100%;
  border-top: 2px solid hsla(257, 27%, 26%, 0.652);
  border-left: 2px solid hsla(257, 27%, 26%, 0.652);
  width: 20px;
  height: 20px;
  margin: 0px auto;
  -webkit-animation: spin 0.7s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;
  z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    border-left: 1px solid hsla(257, 27%, 26%, 0.652);
  }
  100% {
    -webkit-transform: rotate(360deg);
    border-left: 0px solid hsla(257, 27%, 26%, 0.652);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    border-left: 1px solid hsla(257, 27%, 26%, 0.652);
  }
  100% {
    transform: rotate(360deg);
    border-left: 0px solid hsla(257, 27%, 26%, 0.652);
  }
}

/* section .container .card button:hover #loader {
  border-top: 2px solid var(--light-gray);
  border-left: 2px solid var(--light-gray);
} */

/* Loader style ends here */
